<!-- *****************************************************************************************************************
 BLUE WRAP
 ***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
    <div class="row">
      <h3>Documentation</h3>
    </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->


<!-- *****************************************************************************************************************
 CONTENT
 ***************************************************************************************************************** -->

 <div class="container mtb">
   <div class="row">
     <div class="col-lg-9">

      <ng-include src="'partials/docs-'+ category +'.html'"></ng-include>
      <div class="spacing"></div>

    </div><! --/col-lg-9 -->

     <! -- SIDEBAR -->
     <div class="col-lg-3">
       <h4>Categories</h4>
       <div class="hline"></div>
       <p><a href="#docs/getting-started"><i class="fa fa-angle-right"></i> Getting Started</a></p>
       <p><a href="#docs/config"><i class="fa fa-angle-right"></i> Configuration</a></p>
       <p><a href="#docs/health"><i class="fa fa-angle-right"></i> Health</a></p>
       <p><a href="#docs/contributing"><i class="fa fa-angle-right"></i> Contributing</a></p>
      </div>
   </div><! --/row -->
 </div><! --/container -->
