<h3 class="top">Health</h3>
<div class="hline"></div>
<div class="spacing"></div>

You may easily monitor Uchiwa and the Sensu API endpoints with the <strong>/health</strong> page.
<br /><br />
<h4>/health</h4>
Returns Uchiwa and Sensu API status.
<br />
<strong>success</strong>: 200 OK.
<ul>
  <li><code>{"uchiwa":"ok","sensu":{"0.12.6":{"output":"ok"},"0.13.0":{"output":"ok"}}}</code></li>
</ul>
<strong>error</strong>: 500 Internal Server Error.
<ul>
  <li><code>{"uchiwa":"ok","sensu":{"0.12.6":{"output":"connect ECONNREFUSED"},"0.13.0":{"output":"ok"}}}</code></li>
</ul>
<br />
<h4>/health/uchiwa</h4>
Returns Uchiwa status.
<br />
<strong>success</strong>: 200 OK.
<ul>
  <li><code>"ok"</code></li>
</ul>
<strong>error</strong>: 500 Internal Server Error.
<ul>
  <li><code>"error"</code></li>
</ul>
<br />
<h4>/health/sensu</h4>
Returns Sensu API status.
<br />
<strong>success</strong>: 200 OK.
<ul>
  <li><code>{"0.12.6":{"output":"ok"},"0.13.0":{"output":"ok"}}</code></li>
</ul>
<strong>error</strong>: 500 Internal Server Error.
<ul>
  <li><code>{"0.12.6":{"output":"connect ECONNREFUSED"},"0.13.0":{"output":"ok"}}</code></li>
</ul>
