<h3 class="top">Getting Started</h3>
<div class="hline"></div>
<div class="spacing"></div>

<h3 class="ctitle">With Packages</h3>
<p>
  Each package contains the Uchiwa binary along with the static HTML and JavaScript files, installed under <code>/opt/uchiwa</code>.
  A sysvinit script is also placed at <code>/etc/init.d/uchiwa</code>. The Uchiwa process will be ran under the <code>uchiwa</code>
  user and logs are sent to the files <code>/var/log/uchiwa.err</code> and <code>/var/log/uchiwa.log</code>.
  <dl>
    <dt>Using Configuration Management tools</dt>
    <dd>
      Chef: <a href="https://github.com/sensu/uchiwa-chef">uchiwa-chef</a>
      <br />
      Puppet: <a href="https://github.com/Yelp/puppet-uchiwa">puppet-uchiwa</a>
      <br />
      Ansible: <a href="https://github.com/queeno/ansible-uchiwa">ansible-uchiwa</a>
      <br />
      SaltStack: <a href="https://github.com/komljen/sensu-salt">sensu-salt</a>
    </dd>
    <br />
    <dt>Using Sensu repositories</dt>
    <dd>See <a href="http://sensuapp.org/docs/latest/dashboards_uchiwa#packages">Sensu documentation</a></dd>
    <br />
    <dt>Using HTTP downloads</dt>
    <dd>See the <a href="#download">download page</a></dd>
  </dl>
</p>

<h3 class="ctitle">From Source</h3>
<p>
  It's recommended to use the <a href="#docs#getting-started-with-packages">Uchiwa packages</a> in order to ensure the simplest
  installation process and promote consistency across installations. Otherwise, running from the source code will always be possible.
</p>

<strong>Prerequisites</strong>
<br />
<ul>
  <li>Recent version of git</li>
  <li>Recent version of npm (<a href="https://github.com/joyent/node/wiki/installing-node.js-via-package-manager">guide</a>)</li>
  <li>Recent version of go (<a href="https://golang.org/doc/install">guide</a>)</li>
</ul>

<strong>Installation</strong>
<br />
<ul>
  <li>Checkout the source: <code>go get github.com/sensu/uchiwa && cd $GOPATH/src/github.com/sensu/uchiwa</code></li>
  <li>Install third-party libraries:</li>
  <ul>
    <li>Under standard user: <code>npm install --production</code></li>
    <li>Under root user: <code>npm install --production --unsafe-perm</code></li>
  </ul>
  <li>Copy <strong>config.json.example</strong> to <strong>config.json</strong> - modify your Sensu API information. See configuration section.</li>
  <li>Start the dashboard: <code>go run uchiwa.go</code></li>
  <li>Open your browser: <code>http://localhost:3000/</code></li>
</ul>

<h3 class="ctitle">With Docker</h3>
<p>
  Uchiwa also comes pre-packaged in a docker container for easy deployment.
  Make a <strong>config.json</strong> file for the application, and then launch the uchiwa container with the config mounted as a volume.
</p>

<ul>
  <li>Install Uchiwa from the source (see above)</li>
  <li>Create a folder that will be mount as a volume to the Docker container: <code>mkdir ~/uchiwa-config</code></li>
  <li>Copy your uchiwa config into this last folder: <code>cp ~/uchiwa/config.json ~/uchiwa-config/config.json</code></li>
  <li>Start the Docker container: <code>docker run -d -p 3000:3000 -v ~/uchiwa-config:/config uchiwa/uchiwa</code></li>
</ul>
