<p class="lead">
  Uchiwa is a simple dashboard for <strong>Sensu</strong>, built with <strong>Go</strong> and <strong>AngularJS</strong>.
  <br /><br />
  Essentially, Uchiwa takes the results returned by <strong>Sensu API</strong> and display these in a pleasing way to the eye
  so you can use Sensu to its full potential.
  <br /><br />
  Uchiwa is composed of a Go <a href="https://github.com/sensu/uchiwa">web server</a>, which query every Sensu API and expose the results through its own API to
  the Angular <a href="https://github.com/sensu/uchiwa-web">web dashboard</a>.
</p>
<br />

<h2><a href="#docs/getting-started">Getting Started</a></h2>
Learn how to get Uchiwa up running within minutes.
<br /><br />
<h2><a href="#docs/config">Configuration</a></h2>
Minimal and complete configurations for Uchiwa.
<br /><br />
<h2><a href="#docs/health">Health</a></h2>
Health monitoring for Uchiwa and Sensu.
<br /><br />
<h2><a href="#docs/contributing">Contributing</a></h2>
Some tips before submitting your first pull request.
