<h3 class="top">Contributing</h3>
<div class="hline"></div>
<div class="spacing"></div>
<p>
  Everyone is welcome to submit patches. Whether your pull request is a bug fix or introduces new classes or functions to the project, we kindly ask that you include tests for your changes. Even if it's just a small improvement, a test is necessary to ensure the bug is never re-introduced.
</p>
<br />
<h4>Development Environment</h4>
<p>
  First of all, install Uchiwa from the source (see the <a href="#docs/getting-started">Getting Started</a> page).
  <br />
  If you want to perform some changes on the web dashboard, you will also need to do the following additional steps:
</p>
<ul>

  <li>Clone the <a href="https://github.com/sensu/uchiwa-web">uchiwa-web</a> repository: <code>git clone git@github.com:sensu/uchiwa-web.git && cd uchiwa-web</code></li>
  <li>Install third-party libraries:</li>
  <ul>
    <li>Under standard user: <code>npm install --production</code></li>
    <li>Under root user: <code>npm install --production --unsafe-perm</code></li>
  </ul>
  <li>Create a global link for uchiwa-web: <code>bower link</code></li>
  <li>Move to your uchiwa repository: <code>cd $GOPATH/src/github.com/sensu/uchiwa</code></li>
  <li>Uninstall the uchiwa-web bower component: <code>bower uninstall uchiwa-web</code></li>
  <li>Point the bower componenent uchiwa-web to the previously created link: <code>bower link uchiwa-web</code></li>
</ul>
<br />
<h4>Testing</h4>
<p>
  <strong><a href="https://github.com/sensu/uchiwa">uchiwa</a></strong>
  <br />
  The command <code>go test -v ./...</code> will execute the proper unit tests.
</p>
<p>
  <strong><a href="https://github.com/sensu/uchiwa-web">uchiwa-web</a></strong>
  <br />
  In order to install all the tools, please run <code>npm install</code>.
  <br />
  The command <code>grunt</code> will execute the proper linting and unit tests.
</p>
