<!-- *****************************************************************************************************************
 BLUE WRAP
 ***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
    <div class="row">
      <h3>Download Uchiwa</h3>
    </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->

<!-- *****************************************************************************************************************
 TITLE & CONTENT
 ***************************************************************************************************************** -->
<div>
 <div class="container mtb">
   <div class="row">

    <div class="col-lg-12">
      <h3>Latest (0.3.0)</h3>
      <div class="hline"></div>
    </div>

    <div class="col-lg-6">
      <div class="spacing"></div>
      <div class="row">
        <div class="col-md-4">
          <img src="img/centos.png">
        </div>
        <div class="col-md-4">
          <h4>Linux (RPM)</h4>
          <a href="http://dl.bintray.com/palourde/uchiwa/uchiwa-0.3.0-1.i386.rpm">32-bit</a> |
          <a href="http://dl.bintray.com/palourde/uchiwa/uchiwa-0.3.0-1.x86_64.rpm">64-bit</a>
         </div>
      </div>
      <div class="spacing"></div>
      <div class="row">
        <div class="col-md-4">
          <img src="img/debian.png">
        </div>
        <div class="col-md-4">
          <h4>Linux (DEB)</h4>
          <a href="http://dl.bintray.com/palourde/uchiwa/uchiwa_0.3.0-1_i386.deb">32-bit</a> |
          <a href="http://dl.bintray.com/palourde/uchiwa/uchiwa_0.3.0-1_amd64.deb">64-bit</a>
         </div>
      </div>
    </div>

    <div class="col-lg-5 col-lg-offset-1">
      <div class="spacing"></div>
      <h4>MD5 Checksums</h4>
      <div class="hline"></div>
      <p>
        <div class="checksums"><b>uchiwa-0.3.0-1.i386.rpm :</b> <span class="pull-right">d2667a10749eafe9c0bb6959d6cad763</span></div>
        <div class="checksums"><b>uchiwa-0.3.0-1.x86_64.rpm :</b> <span class="pull-right">84aac23d4410b3a6dc4121c914205a38</span></div>
        <div class="checksums"><b>uchiwa_0.3.0-1_i386.deb :</b> <span class="pull-right">00cbd3a54a50c89175adadb1a4770345</span></div>
        <div class="checksums"><b>uchiwa_0.3.0-1_amd64.deb :</b> <span class="pull-right">312b23a335b8b492cc643ea00f9bea8e</span></div>
       </p>
    </div>

    <div class="col-lg-12">
      <div class="spacing"></div>
      <h3>Older Versions</h3>
      <div class="hline"></div>
      <div class="spacing"></div>

      <h4>uchiwa_0.3.0.beta-3</h4>
      <div><a href="http://dl.bintray.com/palourde/uchiwa/uchiwa-0.3.0.beta.3-1.i386.rpm">uchiwa-0.3.0.beta.3-1.i386.rpm</a> (62112264e30e95c96399a877e390f773)</div>
      <div><a href="http://dl.bintray.com/palourde/uchiwa/uchiwa-0.3.0.beta.3-1.x86_64.rpm">uchiwa-0.3.0.beta.3-1.x86_64.rpm</a> (a238697effb42a52cec56b63d26de692)</span></div>
      <div><a href="http://dl.bintray.com/palourde/uchiwa/uchiwa_0.3.0.beta.3-1_i386.deb">uchiwa_0.3.0.beta.3-1_i386.deb</a> (1e8c67ca4d5a956acf28c6f4bca86f1c)</span></div>
      <div><a href="http://dl.bintray.com/palourde/uchiwa/uchiwa_0.3.0.beta.3-1_amd64.deb">uchiwa_0.3.0.beta.3-1_amd64.deb</a> (ccc14427e777c1cfa7354c599cd4494f)</span></div>

      <h4>uchiwa_0.3.0.beta</h4>
      <div><a href="http://dl.bintray.com/palourde/uchiwa/uchiwa-0.3.0.beta-1.i386.rpm">uchiwa-0.3.0.beta-1.i386.rpm</a> (aeeaa3f3562e8edc8e14e47cabbdb028)</div>
      <div><a href="http://dl.bintray.com/palourde/uchiwa/uchiwa-0.3.0.beta-1.x86_64.rpm">uchiwa-0.3.0.beta-1.x86_64.rpm</a> (b8e3c00154c51a3ed0c2d255d036b25b)</div>
      <div><a href="http://dl.bintray.com/palourde/uchiwa/uchiwa_0.3.0.beta-1_i386.deb">uchiwa_0.3.0.beta-1_i386.deb</a> (ebf5476acb0356c7829f13c7763086de)</div>
      <div><a href="http://dl.bintray.com/palourde/uchiwa/uchiwa_0.3.0.beta-1_amd64.deb">uchiwa_0.3.0.beta-1_amd64.deb</a> (9400bf1e29d31cdf2b8527ce71def254)</div>
    </div>

   </div><! --/row -->
 </div><! --/container -->
</div>
