<!-- *****************************************************************************************************************
 BLUE WRAP
 ***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
    <div class="row">
      <h3>Download Uchiwa</h3>
    </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->

<!-- *****************************************************************************************************************
 TITLE & CONTENT
 ***************************************************************************************************************** -->
<div>
 <div class="container mtb">
   <div class="row">

    <div class="col-lg-12">
      <h3>Latest (0.3.0.beta-1)</h3>
      <div class="hline"></div>
    </div>

     <div class="col-lg-6">
      <div class="spacing"></div>

       <div class="row">
         <div class="col-md-4">
           <img src="img/debian.png">
         </div>
         <div class="col-md-4">
           <h4>Linux (DEB)</h4>
           <a href="http://dl.bintray.com/palourde/uchiwa/uchiwa_0.3.0.beta-1_i386.deb">32-bit</a> |
           <a href="http://dl.bintray.com/palourde/uchiwa/uchiwa_0.3.0.beta-1_amd64.deb">64-bit</a>
          </div>
       </div>

       <div class="spacing"></div>

       <div class="row">
         <div class="col-md-4">
           <img src="img/centos.png">
         </div>
         <div class="col-md-4">
           <h4>Linux (RPM)</h4>
           <a href="http://dl.bintray.com/palourde/uchiwa/uchiwa-0.3.0.beta-1.i386.rpm">32-bit</a> |
           <a href="http://dl.bintray.com/palourde/uchiwa/uchiwa-0.3.0.beta-1.x86_64.rpm">64-bit</a>
          </div>
       </div>
     </div>

     <div class="col-lg-5 col-lg-offset-1">
       <div class="spacing"></div>
       <h4>MD5 Checksums</h4>
       <div class="hline"></div>
       <p>
       <div class="checksums"><b>uchiwa_0.3.0.beta-1_i386.deb :</b> <span class="pull-right">ebf5476acb0356c7829f13c7763086de</span></div>
       <div class="checksums"><b>uchiwa_0.3.0.beta-1_amd64.deb :</b> <span class="pull-right">9400bf1e29d31cdf2b8527ce71def254</span></div>
       <div class="checksums"><b>uchiwa-0.3.0.beta-1.i386.rpm :</b> <span class="pull-right">aeeaa3f3562e8edc8e14e47cabbdb028</span></div>
       <div class="checksums"><b>uchiwa-0.3.0.beta-1.x86_64.rpm :</b> <span class="pull-right">b8e3c00154c51a3ed0c2d255d036b25b</span></div>
       </p>
     </div>

   </div><! --/row -->
 </div><! --/container -->
 </div>
