<!-- *****************************************************************************************************************
 BLUE WRAP
 ***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
    <div class="row">
      <h3>FAQ</h3>
    </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->


<!-- *****************************************************************************************************************
 CONTENT
 ***************************************************************************************************************** -->

 <div class="container mtb">
   <div class="row">
     <div class="col-lg-9">

      <h3 id="installation">Installation</h3>
      <div class="hline"></div>
      <div class="spacing"></div>

      <h3 class="ctitle">Which platforms are supported by Uchiwa?</h3>
      <p>
        Uchiwa binaries are compiled for linux, on 386 and amd64 architectures, and packaged into DEB and RPM packages.
        If you wish to compile the binary for an another operating system and compilation architecture,
        refer yourself to the installation documentation.
      </p>

      <div class="spacing"></div>
      <h3 id="errors">Errors</h3>
      <div class="hline"></div>
      <div class="spacing"></div>

      <h3 class="ctitle">I see the error message <em>x509: certificate signed by unknown authority</em></h3>
      <p>
        By default, Uchiwa will refuse to make any connection to an API with an invalid SSL certificate so it needs to be explicitly allowed. See the <strong>insecure</strong>
        option in the documentation <a href="https://github.com/sensu/uchiwa#sensu" target="_blank">here</a>.
      </p>

      <div class="spacing"></div>
      <h3 id="features">Features</h3>
      <div class="hline"></div>
      <div class="spacing"></div>

      <h3 class="ctitle">What's a datacenter?</h3>
      <p>
        Each Sensu API instance is represented, in Uchiwa, by a datacenter. The logic behind it is that you might have an instance in
        each physical datacenter but nothing prevents you from having multiple Sensu instances within the same physical datacenter,
        for a development and a production environment, for example.
      </p>

      <h3 class="ctitle">Why the output of my check is empty?</h3>
      <p>
        By design, if your check return the status <strong>0</strong> (success), the output will be discarded by Sensu so there's
        unfortunately no way to display it in Uchiwa. If you are collecting some kind of metric data, you should consider creating
        a <a href="http://sensuapp.org/docs/latest/adding_a_metric" target="_blank">Sensu metric check</a> and add a handler to send it over Graphite, for example.
      </p>

      <h3 class="ctitle">The checks list is incomplete; my standalone check won't appear!</h3>
      <p>
        Uchiwa uses the <strong>/checks</strong> Sensu API endpoint to build the checks list. This endpoint only provides the checks that are
        defined and known by the Sensu server itself, therefore standalone checks that are only defined on some particular clients can't be shown. They will, however,
        appear in the client view since they are part of the client history.
      </p>

    </div><! --/col-lg-8 -->


     <! -- SIDEBAR -->
     <div class="col-lg-3">
       <h4>Categories</h4>
       <div class="hline"></div>
         <p><a href="#faq#installation"><i class="fa fa-angle-right"></i> Installation</a></p>
         <p><a href="#faq#installation"><i class="fa fa-angle-right"></i> Errors</a></p>
         <p><a href="#faq#features"><i class="fa fa-angle-right"></i> Features</a></p>
   </div><! --/row -->
 </div><! --/container -->
