<!-- *****************************************************************************************************************
 BLUE WRAP
 ***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
    <div class="row">
      <h3>Features</h3>
    </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->


<!-- *****************************************************************************************************************
 CONTENT
 ***************************************************************************************************************** -->

 <div class="container mtb">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 centered">
      <h2 id="title">Uchiwa is packed with awesome features. Check out some of the latest!</h2>
      <br>
      <div class="hline"></div>
      <div class="spacing"></div>
    </div>
    <div class="col-lg-12">

      <div class="row">
        <div class="col-md-3">
          <h2 class="ctitle" id="silencing">Silencing</h2>
          <p class="text-justify">
            Uchiwa provides an easy mechanism to silence any check or client for a determined or unlimited period of time. Context can be easily added by supplying a reason upon stash creation.
          </p>
        </div>
        <div class="col-md-8 col-md-offset 1">
          <img src="img/silencing.gif">
        </div>
      </div>

      <div class="spacing"></div>
      <div class="row">
        <div class="col-lg-4 col-lg-offset-6">
          <div class="hline"></div>
        </div>
      </div>
      <div class="spacing"></div>

      <div class="row">
        <div class="col-md-8">
          <img src="img/filtering.gif">
        </div>
        <div class="col-md-3 col-md-offset 1">
          <h2 class="ctitle" id="filtering">Filtering</h2>
          <p class="text-justify">
            Uchiwa makes it easy to filter all Sensu data based on any properties, such as a team name or a client subscription. The filtered results can also be shared with a simple link.
          </p>
        </div>
      </div>

      <div class="spacing"></div>
      <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
          <div class="hline"></div>
        </div>
      </div>
      <div class="spacing"></div>

      <div class="row">
        <div class="col-md-3">
          <h2 class="ctitle" id="unified">Unified Client</h2>
          <p class="text-justify">
            Uchiwa aggregates all information concerning a specific client within an unique view. Custom content can easily be added to a client or an event through Sensu in order to provide a better context.
          </p>
        </div>
        <div class="col-md-8 col-md-offset 1">
          <img src="img/unifiedclient.gif">
        </div>
      </div>

      <div class="spacing"></div>
      <div class="row">
        <div class="col-lg-4 col-lg-offset-6">
          <div class="hline"></div>
        </div>
      </div>
      <div class="spacing"></div>

      <div class="row">
        <div class="col-md-8">
          <img src="img/richdata.png">
        </div>
        <div class="col-md-3 col-md-offset 1">
          <h2 class="ctitle" id="richdata">Rich Data</h2>
          <p class="text-justify">
            Display rich data directly into Uchiwa, including HTML links and images, by adding an URL into a custom key-value of a check definition. See the <a href="http://sensuapp.org/docs/latest/checks#custom-check-definition-key-values" target="_blank">Sensu documentation</a> for more information.
          </p>
        </div>
      </div>

    </div>
  </div>
</div><! --/container -->
