<!-- *****************************************************************************************************************
 HEADERWRAP
 ***************************************************************************************************************** -->
<div id="headerwrap">
    <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h1>Open source dashboard for Sensu.</h1>
        <h5>Uchiwa is a simple dashboard for the Sensu monitoring framework, built with Go and AngularJS. </h5>
      </div>
      <div class="col-lg-8 col-lg-offset-2 himg">
        <img src="img/browser.png" class="img-responsive">
      </div>
    </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->

<!-- *****************************************************************************************************************
 SERVICE LOGOS
 ***************************************************************************************************************** -->
 <div id="service">
   <div class="container">
     <div class="row centered">
       <div class="col-md-4">
         <i class="fa fa-cloud"></i>
         <h4>Multiple Sensu Instances</h4>
         <p>Uchiwa aggregates the data of all your Sensu instances in order to offer an unified view of your infrastructure. Each instance is represented as a datacenter and can be easily filtered.</p>
       </div>
       <div class="col-md-4">
         <i class="fa fa-refresh fa-spin"></i>
         <h4>Real-Time</h4>
         <p>All data is automatically refreshed, at a configurable interval, and does not require a page reload, which makes Uchiwa ready to be displayed on bigger screens.</p>
       </div>
       <div class="col-md-4">
         <i class="fa fa-volume-off"></i>
         <h4>Silence Checks and Clients</h4>
         <p>Uchiwa provides an easy mechanism to silence any check or client for a determined or unlimited period of time. Context can be easily added by supplying a reason upon stash creation.</p>
       </div>
     </div>
   </div><! --/container -->
   <div class="container">
     <div class="row centered">
       <div class="col-md-4">
         <i class="fa fa-hdd-o"></i>
         <h4>Unified Client View</h4>
         <p>Uchiwa aggregates all information concerning a specific client within an unique view. Custom content can easily be added to a client or an event through Sensu in order to provide a better context.</p>
       </div>
       <div class="col-md-4">
         <i class="fa fa-search"></i>
         <h4>Simple Filtering</h4>
         <p>Uchiwa makes it easy to filter all Sensu data based on any properties, such as a team name or a client subscription. The filtered results can also be shared with a simple link.</p>
       </div>
       <div class="col-md-4">
         <i class="fa fa-text-height"></i>
         <h4>Multiple Themes</h4>
         <p>Two themes are provided with Uchiwa and additional themes can easily be created with Sass stylesheets. Contribute to Uchiwa with yours!</p>
       </div>
     </div>
   </div><! --/container -->
 </div><! --/service -->
